
.nav-container{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    /* position:fixed; */
    z-index: 1;
}

.right-container a{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 15px;
}

.left-container{
    cursor: pointer;
}

.right-container a:hover{
    color: orange;
}